.env*
ansible/inventory.yaml
__pycache__
build/
install/
core.*
.ipynb_checkpoints
.autostart
log/
*.log
.DS_Store
Thumbs.db
desktop.ini
.idea/
maps/*.pbstream
maps/*.pgm
maps/*.yaml
rover_m2m/yandex-cloud.env
